In [1]:
# !pip install textblob
# !pip install spacy
# !python -m spacy download en_core_web_lg

In [1]:
import json
import os
import pandas as pd
import ast
import time
from sqlalchemy import create_engine
import psycopg2
from textblob import TextBlob
pd.options.display.max_columns = None

In [ ]:
review_df.to_csv("review.csv")

In [ ]:
#parse JSON convert to CSV
review_data = []
print ('Reading review.json')
with open("review.json") as f:
    for line in f:
        review_data.append(json.loads(line))
review_df = pd.DataFrame.from_dict(review_data)

In [ ]:
business_data = []
print ('Reading business.json')
with open("business.json") as f:
    for line in f:
        business_data.append(json.loads(line))
business_df = pd.DataFrame.from_dict(business_data)

In [ ]:
business_df.to_csv("business.csv")

In [ ]:
business_df

In [ ]:
user_data = []
print ('Reading user.json')
with open("user.json") as f:
    for line in f:
        user_data.append(json.loads(line))
user_df = pd.DataFrame.from_dict(user_data)

In [ ]:
user_df.to_csv("user.csv")

In [3]:
df_user=pd.read_csv("user.csv")

In [4]:
df_review=pd.read_csv("review.csv")

/home/ubuntu/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_business=pd.read_csv("business.csv")

In [6]:
df_business.head(1)

,Unnamed: 0,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,0,1314 44 Avenue NE,"{'BikeParking': 'False', 'BusinessAcceptsCredi...",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,"{'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0'...",1,51.091813,-114.031675,Minhas Micro Brewery,NaN,T2E 6L6,24,4.0,AB

In [18]:
# df_review =df_review.merge(df_business,on="business_id")

In [8]:
df_rename = df_review.rename(index = str, columns = {"stars_x":"reviews_stars","stars_y":"average_business_stars"})

In [6]:
# df_review

In [16]:
#generate sentiment metric
for index, row in df_review.iterrows():
    if str(df_review.at[index,"sentiment"])!= "nan":
        continue
    if "nan" != str(df_review.at[index,"text"]):
        review = TextBlob(df_review.at[index,"text"])
        df_review.at[index,"sentiment"] = review.sentiment.polarity
    else:
        print ("error "+str(index))

error 4191336

In [17]:
# write review with sentiment to disk
df_review.to_csv("review_sentiment.csv")

In [20]:
review_toronto = df_review.loc[df_review['city']=="Toronto"]

In [3]:
#write subset data Toronto to disk
review_toronto=pd.read_csv("sentiment_toronto.csv")

In [4]:
review_toronto.head(1)

,Unnamed: 0,Unnamed: 0_x,business_id,cool,date,funny,review_id,stars_x,text,useful,user_id,Unnamed: 0_y,address,attributes,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars_y,state,sentiment
0,9981,14,f5O7v_X_jCg2itqacRfxhg,0,2017-10-12,0.0,kS4hrhEScwB9V5JATYjvVQ,5.0,Sansotei serves some top notch ramen. They tak...,0.0,hxqo4NyJFfeOmuoVi--s1A,55029,179 Dundas Street W,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Noodles, Ramen, Restaurants, Japanese",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.655004,-79.386473,Sansotei Ramen,Downtown Core,M5G 1Z8,762,4.0,ON,0.178016
1,9982,27248,f5O7v_X_jCg2itqacRfxhg,0,2017-04-19,0.0,x_KxG5B6Bc_OK8DwtSEfaQ,5.0,"Very friendly, nice simple decor and the food ...",0.0,jdf15x7YE69Dd2a3o0hAag,55029,179 Dundas Street W,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Noodles, Ramen, Restaurants, Japanese",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.655004,-79.386473,Sansotei Ramen,Downtown Core,M5G 1Z8,762,4.0,ON,0.435119
2,9983,28330,f5O7v_X_jCg2itqacRfxhg,0,2013-05-14,0.0,iZQeDOGZCO7lH3S4w2oQIQ,3.0,"3.5. we went on a Monday night, almost empty w...",0.0,M3q6GbQzbWpjZl87Gq2gpQ,55029,179 Dundas Street W,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Noodles, Ramen, Restaurants, Japanese",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.655004,-79.386473,Sansotei Ramen,Downtown Core,M5G 1Z8,762,4.0,ON,0.170000
3,9984,40390,f5O7v_X_jCg2itqacRfxhg,0,2014-11-19,0.0,a80VwaqLTWgcWEM8pOz7NA,5.0,Reviewed during: Mon - Fri Lunch time\nService...,0.0,hBb-5i6Jux-VtklhWorT5Q,55029,179 Dundas Street W,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Noodles, Ramen, Restaurants, Japanese",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.655004,-79.386473,Sansotei Ramen,Downtown Core,M5G 1Z8,762,4.0,ON,-0.001964
4,9985,47681,f5O7v_X_jCg2itqacRfxhg,0,2014-11-17,0.0,bqmmrvTkmwCpDOYdvNMagQ,4.0,The tonkotsu and miso were my favorites. I alw...,1.0,cZ8E9v04bcG9dMWGZXSVuw,55029,179 Dundas Street W,"{'Alcohol': 'beer_and_wine', 'Ambience': ""{'ro...","Noodles, Ramen, Restaurants, Japanese",Toronto,"{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",1,43.655004,-79.386473,Sansotei Ramen,Downtown Core,M5G 1Z8,762,4.0,ON,0.040952

In [ ]:
# write csv files to postgreql
engine = create_engine('postgresql://david:--------@trademark.cm08z91kwvch.us-east-1.rds.amazonaws.com:5432/yelp')

In [ ]:
df_user.to_sql("yelp_user",engine,if_exists = "replace")

In [ ]:
df_business.to_sql("yelp_business",engine,if_exists = "replace")

In [ ]:
df_review.to_sql("yelp_review",engine,if_exists = "replace")